<cb-header></cb-header>

<div class="slim-body">
  <cb-sidebar></cb-sidebar>

  <div class="slim-mainpanel">
    <div class="container">
      <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
        </ol>
        <h6 class="slim-pagetitle">{{ titulo }}</h6>
      </div><!-- slim-pageheader -->

      <div class="section-wrapper">
        <ng-content></ng-content>
      </div><!-- section-wrapper -->
    </div><!-- container -->

    <cb-footer></cb-footer>
  </div><!-- slim-mainpanel -->
</div><!-- slim-body -->
