<div class="signin-wrapper">

  <div class="signin-box">
    <h2 class="slim-logo text-center"><a href="#">cecob</a></h2>
    <h2 class="signin-title-primary">Login</h2>
    <form [formGroup]="loginForm" (submit)="login()">
      <div class="form-group">
        <input type="email" [class.is-invalid]="loginForm.controls.email?.errors && 
          loginForm.controls.email.touched" id="email"
          class="form-control" placeholder="E-mail"
          formControlName="email" #inputEmail>
      <div class="invalid-feedback" *ngIf="loginForm.controls.email.getError('required')">
        O campo e-mail é de preenchimento obrigatório.
      </div>
      <div class="invalid-feedback" *ngIf="loginForm.controls.email.getError('email')">
        Digite um e-mail válido.
      </div>
      </div><!-- form-group -->
      <div class="form-group mg-b-50">
        <input type="password" class="form-control" placeholder="Senha"
          formControlName="senha" [class.is-invalid]="loginForm.invalid && 
          loginForm.controls.senha.touched" id="senha">
        <div class="invalid-feedback" *ngIf="loginForm.controls.senha.getError('required')">
          O campo senha é de preenchimento obrigatório.
        </div>
      </div><!-- form-group -->
      <button type="submit" [disabled]="loginForm.invalid"
        class="btn btn-primary btn-block btn-signin" id="btn-login">
        Entrar
      </button>
    </form>
  </div><!-- signin-box -->

</div><!-- signin-wrapper -->
