<form [formGroup]="usuarioForm" (submit)="salva()">
  <div class="form-layout">
    <div class="row mg-b-25">
      <cb-input label="Nome" id="nome" class="col-lg-12" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="nome"
          autocomplete="off" #inputNome id="nome" 
          [class.is-invalid]="temErro(usuarioForm.controls.nome)"
          [class.is-valid]="!temErro(usuarioForm.controls.nome) && usuarioForm.controls.nome.touched">
          <div class="invalid-feedback" *ngIf="usuarioForm.controls.nome.hasError('required')">
            O campo nome é de preenchimento obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="usuarioForm.controls.nome.hasError('minlength') || 
            usuarioForm.controls.nome.hasError('maxlength')">
            O campo nome deve conter no mínimo 5 caracteres.
          </div>
      </cb-input>
      <cb-input label="Email" id="email" class="col-lg-6" [ehObrigatorio]="true">
        <input class="form-control" type="email" formControlName="email" id="email"
        [class.is-invalid]="temErro(usuarioForm.controls.email)" autocomplete="off"
        [class.is-valid]="!temErro(usuarioForm.controls.email) && usuarioForm.controls.email.touched">
        <div class="invalid-feedback" *ngIf="usuarioForm.controls.email.hasError('required')">
          O campo e-mail é de preenchimento obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="usuarioForm.controls.email.hasError('email')">
          O e-mail preenchido é inválido.
        </div>
        <div class="invalid-feedback" *ngIf="usuarioForm.controls.email.hasError('emailExiste')">
          Este e-mail já existe na base de dados.
        </div>
      </cb-input>
      <cb-input label="Permissão" id="permissao" class="col-lg-6" [ehObrigatorio]="true">
        <select class="form-control" data-placeholder="-- Selecione --" formControlName="permissao"
          [class.is-invalid]="temErro(usuarioForm.controls.permissao)"
          [class.is-valid]="!temErro(usuarioForm.controls.permissao) && usuarioForm.controls.permissao.touched">
          <option label="-- Selecione --"></option>
          <option value="ADMIN">Administrador</option>
          <option value="SECRETARIA">Secretaria</option>
        </select>
        <div class="invalid-feedback" *ngIf="usuarioForm.controls.permissao.hasError('required')">
          O campo permissão é de preenchimento obrigatório.
        </div>
      </cb-input>
      <cb-input label="Senha" id="senha" class="col-lg-6" [ehObrigatorio]="true" *ngIf="!usuario">
        <input class="form-control" type="password" formControlName="senha" id="senha"
          [class.is-invalid]="temErro(usuarioForm.controls.senha)"
          [class.is-valid]="!temErro(usuarioForm.controls.senha) && usuarioForm.controls.senha.touched">
          <div class="invalid-feedback" *ngIf="usuarioForm.controls.senha.hasError('required')">
            O campo senha é de preenchimento obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="usuarioForm.controls.senha.hasError('minlength') || 
            usuarioForm.controls.senha.hasError('maxlength')">
            O campo senha deve conter entre 6 a 10 caracteres.
          </div>
        </cb-input>
        <cb-input label="Repita a Senha" id="senhaRepetida" class="col-lg-6" [ehObrigatorio]="true" *ngIf="!usuario">
          <input class="form-control" type="password" formControlName="senhaRepetida"
          [class.is-invalid]="temErro(usuarioForm.controls.senhaRepetida) || usuarioForm.hasError('senhasDiferentes')"
          [class.is-valid]="!temErro(usuarioForm.controls.senhaRepetida) && usuarioForm.controls.senhaRepetida.touched">
          <div class="invalid-feedback" *ngIf="usuarioForm.controls.senhaRepetida.hasError('required')">
            O campo repita a senha é de preenchimento obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="usuarioForm.hasError('senhasDiferentes')">
            Os campos de senha devem ser iguais.
          </div>
      </cb-input>
    </div><!-- row -->
    
    <div class="form-layout-footer">
      <button [disabled]="usuarioForm.invalid || usuarioForm.pending" type="submit" 
        class="btn btn-primary bd-0 mr-1">Salvar</button>
      <a [routerLink]="['/usuarios']" class="btn btn-secondary bd-0">Cancelar</a>
    </div><!-- form-layout-footer -->

  </div><!-- form-layout -->
</form>
