  <div class="form-group" [class.has-danger]="control.errors" 
    [class.has-success]="!control.errors">
    <label [for]="id" class="form-control-label">
      {{ label }}: <span class="tx-danger" *ngIf="ehObrigatorio">*</span>
    </label>
    <ng-content></ng-content>
  </div>
