<div class="slim-header with-sidebar">
  <div class="container-fluid">
    <div class="slim-header-left">
      <h2 class="slim-logo"><a href="index.html">cecob</a></h2>
      <a href="" (click)="menuToggle($event)" id="slimSidebarMenu" class="slim-sidebar-menu"><span></span></a>
    </div><!-- slim-header-left -->
    <div class="slim-header-right">
      <div class="dropdown dropdown-c">
        <a href="#" class="logged-user" data-toggle="dropdown">
          <img src="http://via.placeholder.com/500x500" alt="">
          <span *ngIf="(user$ | async) as user">{{ user.nome | username }}</span>
          <i class="fa fa-angle-down"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <nav class="nav">
            <a style="cursor: pointer;" (click)="logout()" class="nav-link">
              <i class="icon ion-log-out"></i> Sair 
            </a>
          </nav>
        </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
    </div><!-- header-right -->
  </div><!-- container-fluid -->
</div><!-- slim-header -->