<div class="slim-footer mg-t-0">
  <div class="container-fluid">
    <p>Copyright 2018 &copy; All Rights Reserved. Slim Dashboard Template</p>
    <p>Designed by: <a href="">ThemePixels</a></p>
  </div><!-- container-fluid -->
</div><!-- slim-footer -->