<cb-loading></cb-loading>

<div *ngIf="!userService.isLogged(); else dashboard">
  <router-outlet></router-outlet>
</div>

<ng-template #dashboard>
  <cb-mainpanel [titulo]="titulo">
    <router-outlet></router-outlet>
  </cb-mainpanel>
</ng-template>
