<div class="slim-sidebar">
  <label class="sidebar-label">Menu</label>

  <ul class="nav nav-sidebar">
    <li class="sidebar-nav-item">
      <a [routerLink]="['/dashboard']" class="sidebar-nav-link" routerLinkActive="active">
        <i class="icon ion-ios-home-outline"></i> Dashboard
      </a>
    </li>
    <li class="sidebar-nav-item" >
      <a [routerLink]="['/usuarios']" class="sidebar-nav-link" routerLinkActive="active">
        <i class="icon ion-ios-people-outline"></i> Usuários
      </a>
    </li>
    <li class="sidebar-nav-item" >
      <a [routerLink]="['/despesas']" class="sidebar-nav-link" routerLinkActive="active">
        <i class="icon ion-ios-pricetags-outline"></i> Despesas
      </a>
    </li>
  </ul>
</div><!-- slim-sidebar -->