<div class="row">
  <div class="col-md-3 offset-md-9">
    <div class="btn-demo">
      <a [routerLink]="['/usuarios/novo']" title="Novo"
        class="btn btn-primary btn-block mg-b-10 mb-3">
        Novo
      </a>
    </div>
  </div>
</div>
<table class="table table-striped" *ngIf="(usuarios$ | async) as usuarios">
  <thead>
    <tr>
      <th>Nome</th>
      <th>E-mail</th>
      <th class="text-center">Permissão</th>
      <th class="text-center">Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngFor="let usuario of usuarios">
    <tr>
      <td>{{ usuario.nome }}</td>
      <td>{{ usuario.email }}</td>
      <td class="text-center">{{ usuario.permissao }}</td>
      <td class="text-center">
        {{ usuario.email ? 'ATIVO' : 'INATIVO' }}
      </td>
      <td>
        <a [routerLink]="['edita', usuario.id]" title="Editar" type="button" 
          class="btn btn-sm btn-primary mr-1 btn-icon">
          <div><i class="fa fa-edit"></i></div>
        </a>
        <button title="Remover" (click)="usuarioRemove=usuario" type="button" data-target="#exampleModal"
          class="btn btn-sm btn-danger btn-icon" data-toggle="modal">
          <div><i class="fa fa-trash"></i></div>
        </button>
      </td>
    </tr>
  </tbody>
</table>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Deseja confirmar a remoção do usuário: <strong>{{ usuarioRemove?.nome }}</strong>?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" (click)="remove()">Confirmar</button>
      </div>
    </div>
  </div>
</div>