<form [formGroup]="despesaForm" (submit)="salva()">
  <div class="form-layout">
    <div class="row mg-b-25">
      <cb-input label="Descrição" id="descricao" class="col-lg-12" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="descricao"
          autocomplete="off" #inputDescricao id="descricao" estadoDeValidacao>
          <div class="invalid-feedback" *ngIf="despesaForm.controls.descricao.hasError('required')">
            O campo descrição é de preenchimento obrigatório.
          </div>
          <div class="invalid-feedback" *ngIf="despesaForm.controls.descricao.hasError('minlength') || 
            despesaForm.controls.descricao.hasError('maxlength')">
            O campo descrição deve conter no mínimo 5 caracteres.
          </div>
      </cb-input>
      <cb-input label="Data da Competência" id="dataDaCompetencia" class="col-lg-6" [ehObrigatorio]="true">
        <input class="form-control" type="date" formControlName="dataDaCompetencia"
          autocomplete="off" id="dataDaCompetencia" estadoDeValidacao>
          <div class="invalid-feedback" *ngIf="despesaForm.controls.dataDaCompetencia.hasError('required')">
            O campo data da competência é de preenchimento obrigatório.
          </div>
      </cb-input>
      <cb-input label="Data de Vencimento" id="dataDeVencimento" class="col-lg-6" [ehObrigatorio]="true">
        <input class="form-control" type="date" formControlName="dataDeVencimento"
          autocomplete="off" id="dataDeVencimento" estadoDeValidacao>
          <div class="invalid-feedback" *ngIf="despesaForm.controls.dataDeVencimento.hasError('required')">
            O campo data de vencimento é de preenchimento obrigatório.
          </div>
      </cb-input>
      <cb-input label="Credor" id="credores_id" class="col-lg-6" [ehObrigatorio]="true" *ngIf="(credores$ | async) as credores">
        <select class="form-control" data-placeholder="-- Selecione --" formControlName="credores_id" estadoDeValidacao>
          <option label="-- Selecione --"></option>
          <option *ngFor="let credor of credores" [value]="credor.id">{{ credor.descricao }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="despesaForm.controls.credores_id.hasError('required')">
          O campo credor é de preenchimento obrigatório.
        </div>
        <small class="form-text text-muted text-right">
          <span data-target="#addCredorModal" data-toggle="modal" role="button" class="text-primary" style="cursor: pointer;">Novo</span>
        </small>
      </cb-input>
      <cb-input label="Tipo de Despesa" id="tipos_despesas_id" class="col-lg-6" [ehObrigatorio]="true" *ngIf="(tiposDeDespesas$ | async) as tiposDeDespesas">
        <select class="form-control" data-placeholder="-- Selecione --" formControlName="tipos_despesas_id" estadoDeValidacao>
          <option label="-- Selecione --"></option>
          <option *ngFor="let tipoDeDespesa of tiposDeDespesas" [value]="tipoDeDespesa.id">{{ tipoDeDespesa.descricao }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="despesaForm.controls.credores_id.hasError('required')">
          O campo credor é de preenchimento obrigatório.
        </div>
        <small class="form-text text-muted text-right">
          <span data-target="#addTipoDeDespesaModal" data-toggle="modal" role="button" class="text-primary" style="cursor: pointer;">Novo</span>
        </small>
      </cb-input>
      <cb-input label="Valor" id="valor" class="col-lg-6" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="valor" estadoDeValidacao
          autocomplete="off" id="valor" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          <div class="invalid-feedback" *ngIf="despesaForm.controls.valor.hasError('required')">
            O campo valor é de preenchimento obrigatório.
          </div>
      </cb-input>
      <div class="col-lg-6">
        <label class="ckbox" style="margin-top: 2.5rem;">
          <input type="checkbox" (change)="mudaStatusPagamento()" formControlName="paga"><span>Paga</span>
        </label>
      </div>
      <cb-input label="Data de Pagamento" id="dataDePagamento" class="col-lg-6 dadosPagamento" [ehObrigatorio]="true">
        <input class="form-control" type="date" formControlName="dataDePagamento" id="dataDePagamento" estadoDeValidacao>
          <div class="invalid-feedback" *ngIf="despesaForm.controls.dataDePagamento.hasError('required')">
            O campo data de pagamento é de preenchimento obrigatório.
          </div>
      </cb-input>
      <cb-input label="Desconto" id="desconto" class="col-lg-6 dadosPagamento" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="desconto" estadoDeValidacao
          autocomplete="off" id="desconto" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          <div class="invalid-feedback" *ngIf="despesaForm.controls.desconto.hasError('required')">
            O campo desconto é de preenchimento obrigatório.
          </div>
      </cb-input>
      <cb-input label="Multa" id="multa" class="col-lg-6 dadosPagamento" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="multa" estadoDeValidacao
          autocomplete="off" id="multa" currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }">
          <div class="invalid-feedback" *ngIf="despesaForm.controls.multa.hasError('required')">
            O campo multa é de preenchimento obrigatório.
          </div>
      </cb-input>
    </div><!-- row -->
    <div class="form-layout-footer">
      <button [disabled]="despesaForm.invalid" type="submit" 
        class="btn btn-primary bd-0 mr-1">Salvar</button>
      <a [routerLink]="['/despesas']" class="btn btn-secondary bd-0">Cancelar</a>
    </div><!-- form-layout-footer --> 
  </div><!-- form-layout -->
</form>

<cb-modal modalId="addCredorModal" 
  modalLabel="addCredorModalLabel" 
  (confirmarEvent)="addCredor()"
  titulo="Novo Credor" #modalAddCredorComponent>
  <form [formGroup]="credorForm">
    <div class="row mg-b-25">
      <cb-input label="Descrição" id="descricao" class="col-lg-12" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="descricao"
          autocomplete="off" #inputDescricao id="descricao" estadoDeValidacao>
        <div class="invalid-feedback" *ngIf="credorForm.controls.descricao.hasError('required')">
          O campo descrição é de preenchimento obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="credorForm.controls.descricao.hasError('minlength') || 
          credorForm.controls.descricao.hasError('maxlength')">
          O campo descrição deve conter no mínimo 5 caracteres.
        </div>
      </cb-input>
    </div>
  </form>
</cb-modal>

<cb-modal modalId="addTipoDeDespesaModal" 
  modalLabel="addTipoDeDespesaModal" 
  (confirmarEvent)="addTipoDeDespesa()"
  titulo="Tipo de Despesa" #modalAddTipoDeDespesaComponent>
  <form [formGroup]="tipoDeDespesaForm">
    <div class="row mg-b-25">
      <cb-input label="Descrição" id="descricao" class="col-lg-12" [ehObrigatorio]="true">
        <input class="form-control" type="text" formControlName="descricao"
          autocomplete="off" #inputDescricao id="descricao" estadoDeValidacao>
        <div class="invalid-feedback" *ngIf="tipoDeDespesaForm.controls.descricao.hasError('required')">
          O campo descrição é de preenchimento obrigatório.
        </div>
        <div class="invalid-feedback" *ngIf="tipoDeDespesaForm.controls.descricao.hasError('minlength') || 
          tipoDeDespesaForm.controls.descricao.hasError('maxlength')">
          O campo descrição deve conter no mínimo 5 caracteres.
        </div>
      </cb-input>
    </div>
  </form>
</cb-modal>
