<div *ngIf="(pagina$ | async) as pagina">  
  <div class="row">
    <div class="col-md-3 offset-md-9">
      <div class="btn-demo">
        <a [routerLink]="['/despesas/novo']" title="Novo"
          class="btn btn-primary btn-block mg-b-10 mb-3">
          Novo
        </a>
      </div>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Tipo</th>
        <th>Credor</th>
        <th class="text-center">Data Competência</th>
        <th class="text-center">Data Vencimento</th>
        <th class="text-center">Valor</th>
        <th class="text-center">Status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let despesa of pagina.conteudo">
        <td>{{ despesa.TipoDeDespesa.descricao }}</td>
        <td>{{ despesa.Credor.descricao }}</td>
        <td class="text-center">{{ despesa.dataDaCompetencia | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center">{{ despesa.dataDeVencimento | date: 'dd/MM/yyyy' }}</td>
        <td class="text-center">{{ despesa.valor | currency: 'BRL' }}</td>
        <td class="text-center">
          {{ despesa.dataDePagamento ? 'PAGA' : 'NÃO PAGA' }}
        </td>
        <td>
          <a [routerLink]="['edita', despesa.id]" title="Editar" type="button" 
            class="btn btn-sm btn-primary mr-1 btn-icon">
            <div><i class="fa fa-edit"></i></div>
          </a>
          <button title="Remover" (click)="despesaRemove=despesa" type="button" data-target="#removeDespesaModal"
            class="btn btn-sm btn-danger btn-icon" data-toggle="modal">
            <div><i class="fa fa-trash"></i></div>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" (pageChange)="mudaDePagina($event)"
    [collectionSize]="pagina.totalDeElementos" [maxSize]="5" [boundaryLinks]="true"
    [(page)]="paginaAtual" aria-label="Paginação">
  </ngb-pagination>
</div>

<cb-modal modalId="removeDespesaModal" 
  modalLabel="removeDespesaModalLabel" 
  (confirmarEvent)="remove()"
  #modalComponent>
  Deseja confirmar a remoção da despesa: <strong>{{ despesaRemove?.descricao }}</strong>?
</cb-modal>